
  <div class="row">
    <div class="col-sm-6">   
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">POR PRODUCTOS</h5>
          <p class="card-text">Reporte general de producto</p>
          <button class="btn btn-success" type="button" (click)="reporteProducto()">Descargar</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">POR PROVEEDOR</h5>
          <p class="card-text">Se generara un reporte de productos por proveedor</p>
          <button class="btn btn-success" type="button" (click)="reporteProveedorProducto()">Descargar</button>
        </div>
      </div>
    </div>
  </div>